<div class="container">
  <h1>Add a New Resource</h1>
  <form>
    <div class="form-group">
      <label for="name">Resource Name</label>
      <input type="text" class="form-control" [(ngModel)]="model.name" id="name" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Description</label>
      <input type="text" class="form-control" [(ngModel)]="model.description" id="description">
    </div>

    <div class="form-group">
      <label for="alterEgo">URL</label>
      <input type="text" class="form-control" [(ngModel)]="model.url" id="url">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>


